body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }
* {
    box-sizing: border-box;
  }
#lv2{
    background-color: yellow;
}
.alert{
    border: 1px grey solid;
}
.alert-stop{
    background-color: red;
    border: 1px green solid;
}
.alert-go{
    background-color: green;
}